[workspace]
members = ["discord", "db", "server"]
default-members = ["discord"]

# [build]
# rustflags = ["-C", "target-cpu=native"]
# 
[profile.release]
# lto = "fat"
# codegen-units = 1
debug-assertions = false
