[workspace]
members = ["discord", "db"]
default-members = ["discord"]

# [build]
# rustflags = ["-C", "target-cpu=native"]
 
# bỏ comment để thêm độ tối ưu
[profile.release]
debug-assertions = false # tối ưu tý
# codegen-units = 1 # tối ưu tý nữa
# lto = "fat" # tối ưu chết cmn luôn